*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
}

header {
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
	position: sticky;
	top: 0px;
    block-size: 4cm;
    margin: 5px;
}

p{
    font-style: italic;
    color: white;
    font-size: 2rem;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagen{
    margin-left: 30px;
    border-style: solid;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}


main{
    background-image: linear-gradient(to right, grey, black);
    padding-top: 20px;
    padding-bottom: 20px;
    block-size: 50cm;
    margin: 5px;
}

footer{
    margin: 5px;
    font-size: medium;
    block-size: 3cm;
    background-image: linear-gradient(to right, red, yellow);
    padding-top: 30px;
    padding-left: 100px;
}



h1{
    font-family:'Fascinate', cursive;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


ul {
    list-style: none;
    font-size:0;
    color: white;
 }

 li {
    display: inline-block;
    width: 20%;
    position:relative;
 }

 ul ul {
    position: absolute;
    display: none;
 }

 ul ul li {
    display: block;
 }

 ul li:hover ul {
    display:block;
 }

 h4{
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div{
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

table{
    font-size: small;
    margin-top: 20px;
    margin-left: 30px;
    border-style: solid;
}

.card{
    background-color:lightblack;
    color: white;
    width: 25%;
    height: 500px;
    padding:20px ;
    margin:30px ;
    border: 5px;
    border: solid;
    border-color:yellow;
}

.card1{
    background-color: lightblack;
    color: white;
    width: 25%;
    height: 500px;
    padding:20px ;
    margin:30px ;
    border: 5px;
    border: solid;
    border-color:yellow;
}

.card2{
    width: 10px;
    height: 10px;
    padding-left: 40px;
}

.section{
    padding-left: 700px;
}

.flexbox{
    display: flex;
}

.imagen1{
    margin-left: 10px;
    margin-top: 10px;
}

.nav1{
    margin-left: 60px;
    margin-top: 10px;
}

a{
    color:red;
    font-size: 25px;
    font-weight: bold;
}

@keyframes anim{
    0%{
        opacity: 1;
        color: red;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        color: red;
    }
}

.texto1{
    animation: anim;
    animation-duration: 4s;
    animation-iteration-count: 5;
}



@keyframes anim1{
    0%{
        opacity: 0;
        color: blue;
    }
    50%{
        opacity: 1;
        color: white;
    }
    100%{
        opacity: 0;
        color: blue;
    }
}

.texto2{
    animation: anim1;
    animation-duration: 4s;
    animation-iteration-count: 5;
}