header {
	background-image: url(../imagenes/fondo1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	background-attachment: fixed;
	position: sticky;
	top: 0px;
	block-size: 5cm;
	margin: 5px;
	z-index: 10;
	label {
		display: none;
		width: 30px;
		height: 30px;
		padding: 0px;
		border-right: 1px solid white;
		&:hover {
			cursor: pointer;
			background: rgba(0, 0, 0, 0.3);
		}
	}
}
#btn-menu {
	display: none;
}
.menu {
	background-color: red;
	height: 30px;
	ul {
		background-color: red;
		margin: 0;
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	}
	li {
		border-right: 1px solid white;
		&:hover {
			background: rgba(0, 0, 0, 0.3);
		}
		a {
			font-size: small;
			display: block;
			padding: 5px 20px;
			color: white;
			text-decoration: none;
		}
	}
}
.imagen1 {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
}
